/* 這部分是about freak的 */

h1 {
  font-size:2em;
  text-align:center;
  margin:20px 0 40px;
  padding:0;
}

.container_timeLine {
	
	width:80%;
	margin:0 auto;
	overflow:auto;
	padding:2%;
}

.right-content {
	float:left;
	display:block;
	width:45%;
	padding:1% 2%;
}
.left-content {
	border-right:5px dotted #666;	
	text-align:right;
	float:left;
	display:block;
	width:45%;
	padding:1% 2%;
	
}
.left-content p {
	margin:150px 0 0;
}
.right-content p {
	margin:80px 0 150px;
}

.container_timeLine p {
-webkit-transition: all 0.7s ease-in-out;
-moz-transition: all 0.7 ease-in-out;
-ms-transition: all 0.7s ease-in-out;
-o-transition: all 0.7s ease-in-out;
transition: all 0.7s ease-in-out;	
}
.left-content .more-padding {
  padding-right:100px;
}
.right-content .more-padding {
  padding-left:100px;
}

/* 這部分是about freak的 */

/* Start Fun Facts Section */
.fun-facts {
    background: url(Img/parallax/bg-02.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 80px;
}


.counter-item {
    position: relative;
    text-align: center;
    margin-bottom: 40px;
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
}

.counter-item h5 {
  text-align:center;
  margin-bottom:0px;
  color:#fff;
}

.counter-item i {
  font-size:40px;
}


.timer {
  font-size: 48px;
  font-weight: 800;
  text-transform: uppercase;
  text-align:center;
  line-height:80px;
    font-family: 'Oswald', sans-serif;
}

.counter-item i {
    color: #5BB12F;
}

.timer {
    color: #5BB12F;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}







/* Start Fun Facts Section */




/* 這部分是about our的 */

div {
    display: block;
}


.section-header {
  margin-bottom: 25px;
  margin-top: 75px;
  text-align: center;
  box-sizing: inherit;
}

.section-header h2 {
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 2.4rem;
  line-height: 3.125rem;
}

.colored-line-left, .colored-line-right, .colored-line {
    background: #008ed6;
}

.h2 {
  font-size: 30px;
  line-height: 34px;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.sub-heading,
.single-service,
.content-section,
.testimonials-box {
  font-weight: 300;
}

.sub-heading {
  margin-top: 20px;
  margin-bottom: 20px;
  
}

.testimonials .section-overlay-layer {
  padding-bottom: 20px;
}

.testimonials {
  text-align: center;
  background-color: #FFF;
  border-bottom: 1px solid #eaebec;
}

.testimonials .section-overlay-layer {
  padding-bottom: 20px;
}

.testimonials-wrap {
  position: relative;
}

.display-none {
  display: none !important;
}

.parallax_one_grid_last {
  margin-right: 0;
  padding-right: 0;
}

.parallax_one_grid_col_1 {
  float: left;
  width: 100%;
}

.parallax_one_grid_col_2 {
  float: left;
  width: 48%;
  margin: 0 1.75% 0 1.75%;
}

.parallax_one_grid_col_3 {
  float: left;
  margin: 0 1.25% 0 1.25%;
  min-height: 1px;
}

.parallax_one_grid_col_4 {
  float: left;
  width: 23%;
  margin: 0 1.25% 0 1.25%;
}

.parallax_one_grid_col_4> div,
.parallax_one_grid_col_3> div,
.parallax_one_grid_col_2> div,
.parallax_one_grid_col_1> div {
  margin-bottom: 30px;
  text-align: center;
}

.parallax_one_grid_first {
  margin-left: 0;
  padding-left: 0;
}

.testimonials-wrap .testimonials-box {
  display: inline-block;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.parallax_one_grid_col_1> div {
  margin-bottom: 30px;
  text-align: center;
}

.testimonials-box {
  font-weight: 300;
  text-align: center;
  width: 360px;
}

.testimonials-wrap {
  position: relative;
}

.feedback {
  padding: 0 30px;
  margin-bottom: 45px;
}

.testimonials-box .feedback {
  padding: 40px 0 40px 0;
  margin: 40px 0 30px 0;
  background: #ffffff;
  border-top: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  border-bottom: 4px solid #eaeaea;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all ease 0.55s;
  transition: all ease 0.55s;
  position: relative;
}

.testimonials-box .feedback:hover {
  border-bottom-color: #008ed6;
}

.feedback .pic-container-inner {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  width: 81px;
  height: 81px;
  border: 3px solid #FFF;
  background-clip: padding-box;
  box-shadow: 0px 0px 0px 1px #008ED6;
  background-color: #FAFAFA;
}

.feedback .pic-container {
  top: -40px;
  width: 100%;
  position: absolute;
  box-sizing: inherit;
  text-align: center;
}

.feedback .pic-container .img {
  width: 100%;
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 50%;
  box-sizing: inherit;
}

.feedback-text-wrap {
  padding: 0 35px;
}

.feedback p {
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 0;
}

.feedback h5 {
  margin-bottom: 0;
}

.galcolumn .testimonials-box {
  width: 100%;
}

.testimonials-wrap> .testimonials-box {
  width: 31.5%;
  margin: 0 1.15% 0 1.15%;
  margin-bottom: 30px;
  vertical-align: top;
}

.testimonials-wrap> .testimonials-box:nth-child(3n+1) {
  margin-left: 0;
  clear: left;
}

.testimonials-wrap> .testimonials-box:nth-child(3n) {
  margin-right: 0;
  clear: right;
}


/* 這部分是about our的 */


/* 這部分是關於game的 */

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: inherit;
  text-align:center;
}

.section-header {
  margin-bottom: 25px;
  margin-top: 75px;
  text-align: center;
  box-sizing: inherit;
}

.team {
  background-color: #FFF;
  border-bottom: 1px solid #eaebec;
}

.team .section-overlay-layer {
  padding-bottom: 50px;
}

.team-member {
  margin-bottom: 25px;
  position: relative;
  overflow: hidden;
  border: 5px solid #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #e4e7e7;
  border-bottom: 4px solid #e4e7e7;
  min-height: 100px;
}

.team-member .social-icons {
  opacity: 1;
  margin-top: 5px;
  position: relative;
  -webkit-transition: all ease 0.55s;
  transition: all ease 0.55s;
  margin-bottom: 0;
  margin-top: 0;
}

.team-member .social-icons li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
}

.team-member .social-icons li a {
  opacity: 0.9;
}

.team-member .social-icons li a:hover {
  opacity: 1;
  text-decoration: none;
}

.team-member:hover .social-icons {
  opacity: 1;
}

.member-pic {
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  box-sizing: inherit;
}

.member-details {
  left: 0;
  position: absolute;
  color: #FFF;
  display: table;
  overflow: hidden;
  height: 266px;
  width: 100%;
  bottom: 100%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background: rgba(0, 0, 0, 0);
  text-align: center;
  box-sizing: inherit;
}

.team-member.member-details h5 {
  position: absolute;
  margin: 5;
  text-align: center;
  color: #FFF;
}

.team-member-wrap {
  text-align: center;
}

.team-member-wrap .team-member-box {
  float: none;
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}

.member-details-inner {
  display: table-cell;
  vertical-align: bottom;
}

.team-member:hover .member-details {
  bottom: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background: rgba(0, 0, 0, 0.7);
}

.member-details .social-icons a {
  color: #ffffff;
}

/* 這部分是關於game的 */





